<div class="final-data">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Serial No</th>
      <th>Trade Name</th>
      <th>Rate</th>
      <th>Qty</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody id="final-data-body">

    </tbody>
  </table>
</div>